.bgFAQsec {
  background: url(../assests/images/bg-FAQ-section.png) no-repeat;
  background-size: 100%;
  background-position: top;
}

@media only screen and (max-width: 1023px) {
  .bgfaqGroup {
    background: url(../assests/images/sm-bg-hero-section.png) no-repeat;
    background-size: 100%;
    background-position: bottom;
  }
}

@media only screen and (max-width: 550px) {
  .bgFAQsec {
    background: url(../assests/images/sm-bg-FAQ-section.png) no-repeat;
    background-size: 100%;
    background-position: top;
  }
}
